{% extends "base.html" %}
{% block content %}

	<div class="jumbotron" style="text-align:center">
		<h1>Admin Please Login !</h1>
		<br><br>
        <form method="POST">
        	{{ form.hidden_tag() }}
        	<div class="form-group">
       		{{ form.email.label(class="control-label col-sm-2") }}{{ form.email(class = 'form-control col-sm-8"') }}
       		</div>	
       		<div class="form-group">
    		{{ form.password.label(class="control-label col-sm-2") }} {{ form.password(class = 'form-control') }}
    		</div>
    		<div class="form-group">
    		{{form.submit(class = 'btn btn-primary')}}
    		</div>
	 	</form>
    </div>

{% endblock %}
